<td><%= carrier %></td>
<td><%= price %></td>
<td><%= departure %></td>
<td><%= arrival %>&nbsp;</td>

<td><a href="#/<%= ids %><%= id %>">Show</td>
<td><a href="#/<%= id %>/edit">Edit</td>
<td><a href="#/<%= id %>/destroy" class="destroy">Destroy</a></td>
