<td><%= carrier %></td>
<td><%= price %></td>
<td><%= departure %></td>
<td><%= arrival %></td>

<td><a href="#/<%= id %>">Show</td>
<td><a href="#/<%= id %>/edit">Edit</td>
<td><a href="#/<%= id %>/destroy" class="destroy">Destroy</a></td>